[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/Zothie/hiddify-sing-box
	branch = feat/juicity
[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/Zothie/ray2sing.git
	branch = feat/juicity
